HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFareByFlightSchedulePlanIdAndCabinClassId">
<part name="parameters" element="tns:getFareByFlightSchedulePlanIdAndCabinClassId"/>
</message>
<message name="getFareByFlightSchedulePlanIdAndCabinClassIdResponse">
<part name="parameters" element="tns:getFareByFlightSchedulePlanIdAndCabinClassIdResponse"/>
</message>
<message name="getHighestFareByFlightSchedulePlanIdAndCabinClassId">
<part name="parameters" element="tns:getHighestFareByFlightSchedulePlanIdAndCabinClassId"/>
</message>
<message name="getHighestFareByFlightSchedulePlanIdAndCabinClassIdResponse">
<part name="parameters" element="tns:getHighestFareByFlightSchedulePlanIdAndCabinClassIdResponse"/>
</message>
<message name="FareNotFoundException">
<part name="fault" element="tns:FareNotFoundException"/>
</message>
<message name="getAllAirports">
<part name="parameters" element="tns:getAllAirports"/>
</message>
<message name="getAllAirportsResponse">
<part name="parameters" element="tns:getAllAirportsResponse"/>
</message>
<message name="getFlightScheduleById">
<part name="parameters" element="tns:getFlightScheduleById"/>
</message>
<message name="getFlightScheduleByIdResponse">
<part name="parameters" element="tns:getFlightScheduleByIdResponse"/>
</message>
<message name="FlightScheduleNotFoundException">
<part name="fault" element="tns:FlightScheduleNotFoundException"/>
</message>
<message name="searchDirectFlightSchedules">
<part name="parameters" element="tns:searchDirectFlightSchedules"/>
</message>
<message name="searchDirectFlightSchedulesResponse">
<part name="parameters" element="tns:searchDirectFlightSchedulesResponse"/>
</message>
<message name="searchSingleTransitConnectingFlightSchedule">
<part name="parameters" element="tns:searchSingleTransitConnectingFlightSchedule"/>
</message>
<message name="searchSingleTransitConnectingFlightScheduleResponse">
<part name="parameters" element="tns:searchSingleTransitConnectingFlightScheduleResponse"/>
</message>
<message name="searchDoubleTransitConnectingFlightSchedule">
<part name="parameters" element="tns:searchDoubleTransitConnectingFlightSchedule"/>
</message>
<message name="searchDoubleTransitConnectingFlightScheduleResponse">
<part name="parameters" element="tns:searchDoubleTransitConnectingFlightScheduleResponse"/>
</message>
<message name="retrievePartnerByUsername">
<part name="parameters" element="tns:retrievePartnerByUsername"/>
</message>
<message name="retrievePartnerByUsernameResponse">
<part name="parameters" element="tns:retrievePartnerByUsernameResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="getFlightRouteById">
<part name="parameters" element="tns:getFlightRouteById"/>
</message>
<message name="getFlightRouteByIdResponse">
<part name="parameters" element="tns:getFlightRouteByIdResponse"/>
</message>
<message name="FlightRouteNotFoundException">
<part name="fault" element="tns:FlightRouteNotFoundException"/>
</message>
<message name="retrieveCabinClassById">
<part name="parameters" element="tns:retrieveCabinClassById"/>
</message>
<message name="retrieveCabinClassByIdResponse">
<part name="parameters" element="tns:retrieveCabinClassByIdResponse"/>
</message>
<message name="CabinClassNotFoundException">
<part name="fault" element="tns:CabinClassNotFoundException"/>
</message>
<message name="retrieveCabinClassByAircraftConfigIdAndType">
<part name="parameters" element="tns:retrieveCabinClassByAircraftConfigIdAndType"/>
</message>
<message name="retrieveCabinClassByAircraftConfigIdAndTypeResponse">
<part name="parameters" element="tns:retrieveCabinClassByAircraftConfigIdAndTypeResponse"/>
</message>
<message name="createNewCabinSeatInventory">
<part name="parameters" element="tns:createNewCabinSeatInventory"/>
</message>
<message name="createNewCabinSeatInventoryResponse">
<part name="parameters" element="tns:createNewCabinSeatInventoryResponse"/>
</message>
<message name="CabinSeatInventoryExistException">
<part name="fault" element="tns:CabinSeatInventoryExistException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="createNewPassenger">
<part name="parameters" element="tns:createNewPassenger"/>
</message>
<message name="createNewPassengerResponse">
<part name="parameters" element="tns:createNewPassengerResponse"/>
</message>
<message name="retrieveSeatInventoryByCabinClassIdAndFlightScheduleId">
<part name="parameters" element="tns:retrieveSeatInventoryByCabinClassIdAndFlightScheduleId"/>
</message>
<message name="retrieveSeatInventoryByCabinClassIdAndFlightScheduleIdResponse">
<part name="parameters" element="tns:retrieveSeatInventoryByCabinClassIdAndFlightScheduleIdResponse"/>
</message>
<message name="SeatInventoryNotFoundException">
<part name="fault" element="tns:SeatInventoryNotFoundException"/>
</message>
<message name="getFlightById">
<part name="parameters" element="tns:getFlightById"/>
</message>
<message name="getFlightByIdResponse">
<part name="parameters" element="tns:getFlightByIdResponse"/>
</message>
<message name="FlightNotFoundException">
<part name="fault" element="tns:FlightNotFoundException"/>
</message>
<message name="retrieveCabinSeatInventoryInSeatInventory">
<part name="parameters" element="tns:retrieveCabinSeatInventoryInSeatInventory"/>
</message>
<message name="retrieveCabinSeatInventoryInSeatInventoryResponse">
<part name="parameters" element="tns:retrieveCabinSeatInventoryInSeatInventoryResponse"/>
</message>
<message name="retrieveCabinClassesByAircraftConfigId">
<part name="parameters" element="tns:retrieveCabinClassesByAircraftConfigId"/>
</message>
<message name="retrieveCabinClassesByAircraftConfigIdResponse">
<part name="parameters" element="tns:retrieveCabinClassesByAircraftConfigIdResponse"/>
</message>
<message name="retrievePassengerByPassengerId">
<part name="parameters" element="tns:retrievePassengerByPassengerId"/>
</message>
<message name="retrievePassengerByPassengerIdResponse">
<part name="parameters" element="tns:retrievePassengerByPassengerIdResponse"/>
</message>
<message name="PassengerNotFoundException">
<part name="fault" element="tns:PassengerNotFoundException"/>
</message>
<message name="getFlightSchedulePlanById">
<part name="parameters" element="tns:getFlightSchedulePlanById"/>
</message>
<message name="getFlightSchedulePlanByIdResponse">
<part name="parameters" element="tns:getFlightSchedulePlanByIdResponse"/>
</message>
<message name="FlightSchedulePlanNotFoundException">
<part name="fault" element="tns:FlightSchedulePlanNotFoundException"/>
</message>
<message name="retrieveReservationRecordsByCustomerId">
<part name="parameters" element="tns:retrieveReservationRecordsByCustomerId"/>
</message>
<message name="retrieveReservationRecordsByCustomerIdResponse">
<part name="parameters" element="tns:retrieveReservationRecordsByCustomerIdResponse"/>
</message>
<message name="retrieveReservationRecordById">
<part name="parameters" element="tns:retrieveReservationRecordById"/>
</message>
<message name="retrieveReservationRecordByIdResponse">
<part name="parameters" element="tns:retrieveReservationRecordByIdResponse"/>
</message>
<message name="FlightReservationRecordNotFoundException">
<part name="fault" element="tns:FlightReservationRecordNotFoundException"/>
</message>
<message name="createNewFlightReservationRecord">
<part name="parameters" element="tns:createNewFlightReservationRecord"/>
</message>
<message name="createNewFlightReservationRecordResponse">
<part name="parameters" element="tns:createNewFlightReservationRecordResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="getFareByFlightSchedulePlanIdAndCabinClassId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getFareByFlightSchedulePlanIdAndCabinClassIdRequest" message="tns:getFareByFlightSchedulePlanIdAndCabinClassId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getFareByFlightSchedulePlanIdAndCabinClassIdResponse" message="tns:getFareByFlightSchedulePlanIdAndCabinClassIdResponse"/>
</operation>
<operation name="getHighestFareByFlightSchedulePlanIdAndCabinClassId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getHighestFareByFlightSchedulePlanIdAndCabinClassIdRequest" message="tns:getHighestFareByFlightSchedulePlanIdAndCabinClassId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getHighestFareByFlightSchedulePlanIdAndCabinClassIdResponse" message="tns:getHighestFareByFlightSchedulePlanIdAndCabinClassIdResponse"/>
<fault message="tns:FareNotFoundException" name="FareNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/getHighestFareByFlightSchedulePlanIdAndCabinClassId/Fault/FareNotFoundException"/>
</operation>
<operation name="getAllAirports">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getAllAirportsRequest" message="tns:getAllAirports"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getAllAirportsResponse" message="tns:getAllAirportsResponse"/>
</operation>
<operation name="getFlightScheduleById">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightScheduleByIdRequest" message="tns:getFlightScheduleById"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightScheduleByIdResponse" message="tns:getFlightScheduleByIdResponse"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightScheduleById/Fault/FlightScheduleNotFoundException"/>
</operation>
<operation name="searchDirectFlightSchedules">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchDirectFlightSchedulesRequest" message="tns:searchDirectFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchDirectFlightSchedulesResponse" message="tns:searchDirectFlightSchedulesResponse"/>
</operation>
<operation name="searchSingleTransitConnectingFlightSchedule">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchSingleTransitConnectingFlightScheduleRequest" message="tns:searchSingleTransitConnectingFlightSchedule"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchSingleTransitConnectingFlightScheduleResponse" message="tns:searchSingleTransitConnectingFlightScheduleResponse"/>
</operation>
<operation name="searchDoubleTransitConnectingFlightSchedule">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchDoubleTransitConnectingFlightScheduleRequest" message="tns:searchDoubleTransitConnectingFlightSchedule"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchDoubleTransitConnectingFlightScheduleResponse" message="tns:searchDoubleTransitConnectingFlightScheduleResponse"/>
</operation>
<operation name="retrievePartnerByUsername">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByUsernameRequest" message="tns:retrievePartnerByUsername"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByUsernameResponse" message="tns:retrievePartnerByUsernameResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByUsername/Fault/PartnerNotFoundException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/PartnerNotFoundException"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getFlightRouteById">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightRouteByIdRequest" message="tns:getFlightRouteById"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightRouteByIdResponse" message="tns:getFlightRouteByIdResponse"/>
<fault message="tns:FlightRouteNotFoundException" name="FlightRouteNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightRouteById/Fault/FlightRouteNotFoundException"/>
</operation>
<operation name="retrieveCabinClassById">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCabinClassByIdRequest" message="tns:retrieveCabinClassById"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCabinClassByIdResponse" message="tns:retrieveCabinClassByIdResponse"/>
<fault message="tns:CabinClassNotFoundException" name="CabinClassNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCabinClassById/Fault/CabinClassNotFoundException"/>
</operation>
<operation name="retrieveCabinClassByAircraftConfigIdAndType">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCabinClassByAircraftConfigIdAndTypeRequest" message="tns:retrieveCabinClassByAircraftConfigIdAndType"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCabinClassByAircraftConfigIdAndTypeResponse" message="tns:retrieveCabinClassByAircraftConfigIdAndTypeResponse"/>
<fault message="tns:CabinClassNotFoundException" name="CabinClassNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCabinClassByAircraftConfigIdAndType/Fault/CabinClassNotFoundException"/>
</operation>
<operation name="createNewCabinSeatInventory">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/createNewCabinSeatInventoryRequest" message="tns:createNewCabinSeatInventory"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/createNewCabinSeatInventoryResponse" message="tns:createNewCabinSeatInventoryResponse"/>
<fault message="tns:CabinSeatInventoryExistException" name="CabinSeatInventoryExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/createNewCabinSeatInventory/Fault/CabinSeatInventoryExistException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerWebService/createNewCabinSeatInventory/Fault/InputDataValidationException"/>
</operation>
<operation name="createNewPassenger">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/createNewPassengerRequest" message="tns:createNewPassenger"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/createNewPassengerResponse" message="tns:createNewPassengerResponse"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerWebService/createNewPassenger/Fault/InputDataValidationException"/>
</operation>
<operation name="retrieveSeatInventoryByCabinClassIdAndFlightScheduleId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveSeatInventoryByCabinClassIdAndFlightScheduleIdRequest" message="tns:retrieveSeatInventoryByCabinClassIdAndFlightScheduleId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveSeatInventoryByCabinClassIdAndFlightScheduleIdResponse" message="tns:retrieveSeatInventoryByCabinClassIdAndFlightScheduleIdResponse"/>
<fault message="tns:SeatInventoryNotFoundException" name="SeatInventoryNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveSeatInventoryByCabinClassIdAndFlightScheduleId/Fault/SeatInventoryNotFoundException"/>
</operation>
<operation name="getFlightById">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightByIdRequest" message="tns:getFlightById"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightByIdResponse" message="tns:getFlightByIdResponse"/>
<fault message="tns:FlightNotFoundException" name="FlightNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightById/Fault/FlightNotFoundException"/>
</operation>
<operation name="retrieveCabinSeatInventoryInSeatInventory">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCabinSeatInventoryInSeatInventoryRequest" message="tns:retrieveCabinSeatInventoryInSeatInventory"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCabinSeatInventoryInSeatInventoryResponse" message="tns:retrieveCabinSeatInventoryInSeatInventoryResponse"/>
</operation>
<operation name="retrieveCabinClassesByAircraftConfigId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCabinClassesByAircraftConfigIdRequest" message="tns:retrieveCabinClassesByAircraftConfigId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCabinClassesByAircraftConfigIdResponse" message="tns:retrieveCabinClassesByAircraftConfigIdResponse"/>
</operation>
<operation name="retrievePassengerByPassengerId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePassengerByPassengerIdRequest" message="tns:retrievePassengerByPassengerId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePassengerByPassengerIdResponse" message="tns:retrievePassengerByPassengerIdResponse"/>
<fault message="tns:PassengerNotFoundException" name="PassengerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePassengerByPassengerId/Fault/PassengerNotFoundException"/>
</operation>
<operation name="getFlightSchedulePlanById">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightSchedulePlanByIdRequest" message="tns:getFlightSchedulePlanById"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightSchedulePlanByIdResponse" message="tns:getFlightSchedulePlanByIdResponse"/>
<fault message="tns:FlightSchedulePlanNotFoundException" name="FlightSchedulePlanNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/getFlightSchedulePlanById/Fault/FlightSchedulePlanNotFoundException"/>
</operation>
<operation name="retrieveReservationRecordsByCustomerId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationRecordsByCustomerIdRequest" message="tns:retrieveReservationRecordsByCustomerId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationRecordsByCustomerIdResponse" message="tns:retrieveReservationRecordsByCustomerIdResponse"/>
</operation>
<operation name="retrieveReservationRecordById">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationRecordByIdRequest" message="tns:retrieveReservationRecordById"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationRecordByIdResponse" message="tns:retrieveReservationRecordByIdResponse"/>
<fault message="tns:FlightReservationRecordNotFoundException" name="FlightReservationRecordNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationRecordById/Fault/FlightReservationRecordNotFoundException"/>
</operation>
<operation name="createNewFlightReservationRecord">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/createNewFlightReservationRecordRequest" message="tns:createNewFlightReservationRecord"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/createNewFlightReservationRecordResponse" message="tns:createNewFlightReservationRecordResponse"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerWebService/createNewFlightReservationRecord/Fault/InputDataValidationException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFareByFlightSchedulePlanIdAndCabinClassId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHighestFareByFlightSchedulePlanIdAndCabinClassId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FareNotFoundException">
<soap:fault name="FareNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getAllAirports">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightScheduleById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchDirectFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchSingleTransitConnectingFlightSchedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchDoubleTransitConnectingFlightSchedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrievePartnerByUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getFlightRouteById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightRouteNotFoundException">
<soap:fault name="FlightRouteNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCabinClassById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CabinClassNotFoundException">
<soap:fault name="CabinClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCabinClassByAircraftConfigIdAndType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CabinClassNotFoundException">
<soap:fault name="CabinClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewCabinSeatInventory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CabinSeatInventoryExistException">
<soap:fault name="CabinSeatInventoryExistException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="createNewPassenger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveSeatInventoryByCabinClassIdAndFlightScheduleId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SeatInventoryNotFoundException">
<soap:fault name="SeatInventoryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getFlightById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightNotFoundException">
<soap:fault name="FlightNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCabinSeatInventoryInSeatInventory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCabinClassesByAircraftConfigId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrievePassengerByPassengerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PassengerNotFoundException">
<soap:fault name="PassengerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getFlightSchedulePlanById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightSchedulePlanNotFoundException">
<soap:fault name="FlightSchedulePlanNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservationRecordsByCustomerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservationRecordById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightReservationRecordNotFoundException">
<soap:fault name="FlightReservationRecordNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewFlightReservationRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>