HolidayReservationSystem/xml-resources/web-service-references/CabinSeatInventoryWebService/wsdl/localhost_8080/CabinSeatInventoryWebService/CabinSeatInventoryWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CabinSeatInventoryWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CabinSeatInventoryWebService/CabinSeatInventoryWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveCabinSeatInventoryInSeatInventoryUnmanaged">
<part name="parameters" element="tns:retrieveCabinSeatInventoryInSeatInventoryUnmanaged"/>
</message>
<message name="retrieveCabinSeatInventoryInSeatInventoryUnmanagedResponse">
<part name="parameters" element="tns:retrieveCabinSeatInventoryInSeatInventoryUnmanagedResponse"/>
</message>
<message name="createNewCabinSeatInventory">
<part name="parameters" element="tns:createNewCabinSeatInventory"/>
</message>
<message name="createNewCabinSeatInventoryResponse">
<part name="parameters" element="tns:createNewCabinSeatInventoryResponse"/>
</message>
<message name="CabinSeatInventoryExistException">
<part name="fault" element="tns:CabinSeatInventoryExistException"/>
</message>
<portType name="CabinSeatInventoryWebService">
<operation name="retrieveCabinSeatInventoryInSeatInventoryUnmanaged">
<input wsam:Action="http://ws.session.ejb/CabinSeatInventoryWebService/retrieveCabinSeatInventoryInSeatInventoryUnmanagedRequest" message="tns:retrieveCabinSeatInventoryInSeatInventoryUnmanaged"/>
<output wsam:Action="http://ws.session.ejb/CabinSeatInventoryWebService/retrieveCabinSeatInventoryInSeatInventoryUnmanagedResponse" message="tns:retrieveCabinSeatInventoryInSeatInventoryUnmanagedResponse"/>
</operation>
<operation name="createNewCabinSeatInventory">
<input wsam:Action="http://ws.session.ejb/CabinSeatInventoryWebService/createNewCabinSeatInventoryRequest" message="tns:createNewCabinSeatInventory"/>
<output wsam:Action="http://ws.session.ejb/CabinSeatInventoryWebService/createNewCabinSeatInventoryResponse" message="tns:createNewCabinSeatInventoryResponse"/>
<fault message="tns:CabinSeatInventoryExistException" name="CabinSeatInventoryExistException" wsam:Action="http://ws.session.ejb/CabinSeatInventoryWebService/createNewCabinSeatInventory/Fault/CabinSeatInventoryExistException"/>
</operation>
</portType>
<binding name="CabinSeatInventoryWebServicePortBinding" type="tns:CabinSeatInventoryWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveCabinSeatInventoryInSeatInventoryUnmanaged">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewCabinSeatInventory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CabinSeatInventoryExistException">
<soap:fault name="CabinSeatInventoryExistException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CabinSeatInventoryWebService">
<port name="CabinSeatInventoryWebServicePort" binding="tns:CabinSeatInventoryWebServicePortBinding">
<soap:address location="http://localhost:8080/CabinSeatInventoryWebService/CabinSeatInventoryWebService"/>
</port>
</service>
</definitions>