HolidayReservationSystem/xml-resources/web-service-references/FlightScheduleWebService/wsdl/localhost_8080/FlightScheduleWebService/FlightScheduleWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="FlightScheduleWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/FlightScheduleWebService/FlightScheduleWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFlightScheduleByIdUnmanaged">
<part name="parameters" element="tns:getFlightScheduleByIdUnmanaged"/>
</message>
<message name="getFlightScheduleByIdUnmanagedResponse">
<part name="parameters" element="tns:getFlightScheduleByIdUnmanagedResponse"/>
</message>
<message name="FlightScheduleNotFoundException">
<part name="fault" element="tns:FlightScheduleNotFoundException"/>
</message>
<message name="searchDirectFlightSchedules">
<part name="parameters" element="tns:searchDirectFlightSchedules"/>
</message>
<message name="searchDirectFlightSchedulesResponse">
<part name="parameters" element="tns:searchDirectFlightSchedulesResponse"/>
</message>
<message name="searchSingleTransitConnectingFlightSchedule">
<part name="parameters" element="tns:searchSingleTransitConnectingFlightSchedule"/>
</message>
<message name="searchSingleTransitConnectingFlightScheduleResponse">
<part name="parameters" element="tns:searchSingleTransitConnectingFlightScheduleResponse"/>
</message>
<message name="searchDoubleTransitConnectingFlightSchedule">
<part name="parameters" element="tns:searchDoubleTransitConnectingFlightSchedule"/>
</message>
<message name="searchDoubleTransitConnectingFlightScheduleResponse">
<part name="parameters" element="tns:searchDoubleTransitConnectingFlightScheduleResponse"/>
</message>
<portType name="FlightScheduleWebService">
<operation name="getFlightScheduleByIdUnmanaged">
<input wsam:Action="http://ws.session.ejb/FlightScheduleWebService/getFlightScheduleByIdUnmanagedRequest" message="tns:getFlightScheduleByIdUnmanaged"/>
<output wsam:Action="http://ws.session.ejb/FlightScheduleWebService/getFlightScheduleByIdUnmanagedResponse" message="tns:getFlightScheduleByIdUnmanagedResponse"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/FlightScheduleWebService/getFlightScheduleByIdUnmanaged/Fault/FlightScheduleNotFoundException"/>
</operation>
<operation name="searchDirectFlightSchedules">
<input wsam:Action="http://ws.session.ejb/FlightScheduleWebService/searchDirectFlightSchedulesRequest" message="tns:searchDirectFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/FlightScheduleWebService/searchDirectFlightSchedulesResponse" message="tns:searchDirectFlightSchedulesResponse"/>
</operation>
<operation name="searchSingleTransitConnectingFlightSchedule">
<input wsam:Action="http://ws.session.ejb/FlightScheduleWebService/searchSingleTransitConnectingFlightScheduleRequest" message="tns:searchSingleTransitConnectingFlightSchedule"/>
<output wsam:Action="http://ws.session.ejb/FlightScheduleWebService/searchSingleTransitConnectingFlightScheduleResponse" message="tns:searchSingleTransitConnectingFlightScheduleResponse"/>
</operation>
<operation name="searchDoubleTransitConnectingFlightSchedule">
<input wsam:Action="http://ws.session.ejb/FlightScheduleWebService/searchDoubleTransitConnectingFlightScheduleRequest" message="tns:searchDoubleTransitConnectingFlightSchedule"/>
<output wsam:Action="http://ws.session.ejb/FlightScheduleWebService/searchDoubleTransitConnectingFlightScheduleResponse" message="tns:searchDoubleTransitConnectingFlightScheduleResponse"/>
</operation>
</portType>
<binding name="FlightScheduleWebServicePortBinding" type="tns:FlightScheduleWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFlightScheduleByIdUnmanaged">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchDirectFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchSingleTransitConnectingFlightSchedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchDoubleTransitConnectingFlightSchedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FlightScheduleWebService">
<port name="FlightScheduleWebServicePort" binding="tns:FlightScheduleWebServicePortBinding">
<soap:address location="http://localhost:8080/FlightScheduleWebService/FlightScheduleWebService"/>
</port>
</service>
</definitions>