HolidayReservationSystem/xml-resources/web-service-references/PassengerWebService/wsdl/localhost_8080/PassengerWebService/PassengerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PassengerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PassengerWebService/PassengerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createNewPassenger">
<part name="parameters" element="tns:createNewPassenger"/>
</message>
<message name="createNewPassengerResponse">
<part name="parameters" element="tns:createNewPassengerResponse"/>
</message>
<message name="retrievePassengerByPassengerIdUnmanaged">
<part name="parameters" element="tns:retrievePassengerByPassengerIdUnmanaged"/>
</message>
<message name="retrievePassengerByPassengerIdUnmanagedResponse">
<part name="parameters" element="tns:retrievePassengerByPassengerIdUnmanagedResponse"/>
</message>
<message name="PassengerNotFoundException">
<part name="fault" element="tns:PassengerNotFoundException"/>
</message>
<portType name="PassengerWebService">
<operation name="createNewPassenger">
<input wsam:Action="http://ws.session.ejb/PassengerWebService/createNewPassengerRequest" message="tns:createNewPassenger"/>
<output wsam:Action="http://ws.session.ejb/PassengerWebService/createNewPassengerResponse" message="tns:createNewPassengerResponse"/>
</operation>
<operation name="retrievePassengerByPassengerIdUnmanaged">
<input wsam:Action="http://ws.session.ejb/PassengerWebService/retrievePassengerByPassengerIdUnmanagedRequest" message="tns:retrievePassengerByPassengerIdUnmanaged"/>
<output wsam:Action="http://ws.session.ejb/PassengerWebService/retrievePassengerByPassengerIdUnmanagedResponse" message="tns:retrievePassengerByPassengerIdUnmanagedResponse"/>
<fault message="tns:PassengerNotFoundException" name="PassengerNotFoundException" wsam:Action="http://ws.session.ejb/PassengerWebService/retrievePassengerByPassengerIdUnmanaged/Fault/PassengerNotFoundException"/>
</operation>
</portType>
<binding name="PassengerWebServicePortBinding" type="tns:PassengerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNewPassenger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrievePassengerByPassengerIdUnmanaged">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PassengerNotFoundException">
<soap:fault name="PassengerNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PassengerWebService">
<port name="PassengerWebServicePort" binding="tns:PassengerWebServicePortBinding">
<soap:address location="http://localhost:8080/PassengerWebService/PassengerWebService"/>
</port>
</service>
</definitions>