HolidayReservationSystem/xml-resources/web-service-references/CabinClassWebService/wsdl/localhost_8080/CabinClassWebService/CabinClassWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CabinClassWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CabinClassWebService/CabinClassWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveCabinClassByAircraftConfigIdAndTypeUnmanaged">
<part name="parameters" element="tns:retrieveCabinClassByAircraftConfigIdAndTypeUnmanaged"/>
</message>
<message name="retrieveCabinClassByAircraftConfigIdAndTypeUnmanagedResponse">
<part name="parameters" element="tns:retrieveCabinClassByAircraftConfigIdAndTypeUnmanagedResponse"/>
</message>
<message name="CabinClassNotFoundException">
<part name="fault" element="tns:CabinClassNotFoundException"/>
</message>
<message name="retrieveCabinClassesByAircraftConfigIdUnmanaged">
<part name="parameters" element="tns:retrieveCabinClassesByAircraftConfigIdUnmanaged"/>
</message>
<message name="retrieveCabinClassesByAircraftConfigIdUnmanagedResponse">
<part name="parameters" element="tns:retrieveCabinClassesByAircraftConfigIdUnmanagedResponse"/>
</message>
<message name="retrieveCabinClassByIdUnmanaged">
<part name="parameters" element="tns:retrieveCabinClassByIdUnmanaged"/>
</message>
<message name="retrieveCabinClassByIdUnmanagedResponse">
<part name="parameters" element="tns:retrieveCabinClassByIdUnmanagedResponse"/>
</message>
<portType name="CabinClassWebService">
<operation name="retrieveCabinClassByAircraftConfigIdAndTypeUnmanaged">
<input wsam:Action="http://ws.session.ejb/CabinClassWebService/retrieveCabinClassByAircraftConfigIdAndTypeUnmanagedRequest" message="tns:retrieveCabinClassByAircraftConfigIdAndTypeUnmanaged"/>
<output wsam:Action="http://ws.session.ejb/CabinClassWebService/retrieveCabinClassByAircraftConfigIdAndTypeUnmanagedResponse" message="tns:retrieveCabinClassByAircraftConfigIdAndTypeUnmanagedResponse"/>
<fault message="tns:CabinClassNotFoundException" name="CabinClassNotFoundException" wsam:Action="http://ws.session.ejb/CabinClassWebService/retrieveCabinClassByAircraftConfigIdAndTypeUnmanaged/Fault/CabinClassNotFoundException"/>
</operation>
<operation name="retrieveCabinClassesByAircraftConfigIdUnmanaged">
<input wsam:Action="http://ws.session.ejb/CabinClassWebService/retrieveCabinClassesByAircraftConfigIdUnmanagedRequest" message="tns:retrieveCabinClassesByAircraftConfigIdUnmanaged"/>
<output wsam:Action="http://ws.session.ejb/CabinClassWebService/retrieveCabinClassesByAircraftConfigIdUnmanagedResponse" message="tns:retrieveCabinClassesByAircraftConfigIdUnmanagedResponse"/>
</operation>
<operation name="retrieveCabinClassByIdUnmanaged">
<input wsam:Action="http://ws.session.ejb/CabinClassWebService/retrieveCabinClassByIdUnmanagedRequest" message="tns:retrieveCabinClassByIdUnmanaged"/>
<output wsam:Action="http://ws.session.ejb/CabinClassWebService/retrieveCabinClassByIdUnmanagedResponse" message="tns:retrieveCabinClassByIdUnmanagedResponse"/>
<fault message="tns:CabinClassNotFoundException" name="CabinClassNotFoundException" wsam:Action="http://ws.session.ejb/CabinClassWebService/retrieveCabinClassByIdUnmanaged/Fault/CabinClassNotFoundException"/>
</operation>
</portType>
<binding name="CabinClassWebServicePortBinding" type="tns:CabinClassWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveCabinClassByAircraftConfigIdAndTypeUnmanaged">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CabinClassNotFoundException">
<soap:fault name="CabinClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCabinClassesByAircraftConfigIdUnmanaged">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCabinClassByIdUnmanaged">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CabinClassNotFoundException">
<soap:fault name="CabinClassNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CabinClassWebService">
<port name="CabinClassWebServicePort" binding="tns:CabinClassWebServicePortBinding">
<soap:address location="http://localhost:8080/CabinClassWebService/CabinClassWebService"/>
</port>
</service>
</definitions>